/* h1 {

    font-style: normal;
    font-weight: 500;
    font-size: 5vw;
    line-height: 90px;

    display: flex;
    align-items: center;
    letter-spacing: -0.06em;

    color: #FFFFFF;
    margin: 0.1em;
} */

#blocAbout_textBloc>div>p {
    font-size:18px; 
}

.aboutComicsFriendsBloc {
    background-image: linear-gradient(to right, rgba(27, 15, 44, 0.7), rgba(27, 15, 44, 1));
}

.Stripes_pic {
    margin-top: 90%;
}