#AppBarMainMenu {
    z-index: 1000;
}

#buttonMenu {
    background-color: rgba(255, 255, 255, 0.2);
}

#sepLine {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    margin: 0em 0;
    height: 0;
}

nav {
    box-shadow: rgba(92, 92, 92, 0.56) 0px 0px 20px 4px;
    opacity: 0.9;
    background: url('/images/mainBackground_v2.jpg') fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

nav>ul {
    background-color: rgb(26, 16, 63);
}

.desktopButton {
    background-color: rgba(255, 255, 255, 0.3);
}

.mobileMenu {}

.mobileMenuOpened {
    background-color: rgb(12, 5, 26)
}

@media (max-width: 1220px) {
    .mobileMenu {
        display: block;
    }

    .deskTopMenu {
        display: none;
    }
}