@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Spacegrotesk';
  src: url('/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*** reusable tailwind class ***/
@layer components {
  .title {
    @apply p-2 text-3xl sm:text-4xl md:text-6xl lg:text-7xl;
  }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  max-width: 2080px;
  margin: 0 auto !important;
  float: none !important;
  font-family: 'Spacegrotesk', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

body {
  color: white;
  background: url('/images/mainBackground_v2.jpg') fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-x: hidden;

  animation: moveBg 20s linear infinite;
}

@keyframes moveBg {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.comicsStack {
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: -1;
  top: 10%;
  left: 0;
  transform: rotate(5deg);
  background-image: url('/images/l1_v3.png');
  background-repeat: repeat-x;
  animation: moveStack 10s linear infinite;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}

@keyframes moveStack {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 100% 0%;
  }
}

.comicsStack2 {
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;
  transform: rotate(5deg);
  background-image: url('/images/l1_v3.png');
  background-repeat: repeat-x;
  animation: moveStack2 10s linear infinite;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}

@keyframes moveStack2 {
  from {
    background-position: 100% 0%;
  }

  to {
    background-position: 0% 0%;
  }
}

@media (max-width: 768px) {
  body {
    background: url('/images/mainBackgroundMobile_v2.png') fixed;
  }

  .comicsStack {
    top: 30%;
  }
  
  .comicsStack2 {
    top: 80%;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  .comicsStack {
    top: 50%;
  }

  .comicsStack2 {
    top: 150%;
  }
}

p {
  color: rgba(229, 217, 255, 1);
  text-align: justify;
}

.comicsParagraphe {
  background-color: rgba(27, 15, 44, 1);
  border-radius: 12px;
  padding: 1em;
}

.comicsCard {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
}

.PrivacyAndPolicy h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.PrivacyAndPolicy h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold
}

.PrivacyAndPolicy h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.PrivacyAndPolicy li {
  margin-left: 30px;
}

.PrivacyAndPolicy ul {
  list-style-type: disc;
}

.PrivacyAndPolicy a {
  text-decoration: underline;
}